<div class="navegacion">
    <a href="/login" class="enlace">Inicio sesion</a>
    <a href="#equipo" class="enlace">Nuestro Equipo</a>
</div>
<div class="secciones">
    <section id="inicio" class="info">
        <div class="contenido-info">

        </div>

    </section>
    <section id="equipo" class="equipo">
        <h1 class="barra">Nuestro Equipo</h1>
        <div class="veterinarios">
            <div class="medico">
                <div class="veterinario">
                    <img src="../../../assets/image/17.jpg" class="imgVet">
                </div>
                <div class="descripcion">
                    <h3>M.V Angel Gonzalo Aguirre Sosa</h3>
                    <p>CMVP:11373</p>
                </div>
            </div>
            <div class="medico">
                <div class="veterinario">
                    <img src="../../../assets/image/16.jpg" class="imgVet">
                </div>
                <div class="descripcion">
                    <h3>M.V Angel Gonzalo Aguirre Sosa</h3>
                    <p>CMVP:11373</p>
                </div>
            </div>
            <div class="medico">
                <div class="veterinario">
                    <img src="../../../assets/image/2.jpg" class="imgVet">
                </div>
                <div class="descripcion">
                    <h3>M.V Angel Gonzalo Aguirre Sosa</h3>
                    <p>CMVP:11373</p>
                </div>
            </div>
        </div>
    </section>
    <section id="equipo" class="nosotros">
        <div class="shadow-lg p-3 mb-5 bg-white rounded card">
            <h3 class="titulo">QUIENES SOMOS</h3>
            <p class="parrafo">VetClinic inicia sus labores el 01 de octubre de 2020. Su fundador Dr. Esteban Guzman
                Espinoza quien decidio ofrecer una propuesta medica integral y de calidad.</p>
            <p class="parrafo">Desde su fundación, fue conocida por el desarrollo de nuevas técnicas y herramientas
                quirúrgicas y de rehabilitación, que permitieron ser una Clínica Veterinaria referente en el País y
                diferenciarse con propuestas innovadoras, como fue la silla de ruedas para mascotas, que permite
                realizar una adecuada rehabilitación en casos con buen pronóstico, así como ser instrumento de
                movilización del paciente aportando calidad de vida en otros casos.</p>
        </div>
        <div class="card1">
            <img src="../../../assets/photo1.png" alt="">
        </div>


    </section>
    <input type="checkbox" id="chatToggle" class="chat-toggle">
    <label for="chatToggle" class="chat-button"></label>
    <div id="chatContainer">
        <iframe id="chat" style="position: fixed; bottom: 0; right: 0; width: 400px; height: 400px;" src=''></iframe>
        <label for="chatToggle" class="minimize-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus">
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
        </label>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <h3>Contacto</h3>
            <p>Dirección: Calle Principal, Ciudad, País</p>
            <p>Teléfono: 123-456-7890</p>
            <p>Correo electrónico: info@veterinaria.com</p>
        </div>
    </footer>
</div>