<app-nav-sidebar></app-nav-sidebar>
<app-nav-header></app-nav-header>

<div class="content-wrapper"><br>
  <section class="content scrollable-content">
    <h1>Administración de Categorias</h1>
    <div class="col-md-23" style="margin-top: 3%">
      <div>
        <button type="button" mat-raised-button color="primary" data-toggle="modal" data-target="#exampleModal">Nueva
          Categoria</button>
      </div><br>

      <div class="col-md-12" style="margin-top: 3%">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">


            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let element"> {{element.id_categoria}} </td>
            </ng-container>


            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>


            <ng-container matColumnDef="Acción">
              <th mat-header-cell *matHeaderCellDef> Accion</th>
              <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button (click)="busca(element)" color="primary"
                  aria-label="Example icon button with a vertical three dot icon" data-toggle="modal"
                  data-target="#updateCategoria">
                  <mat-icon>create</mat-icon>
                </button>

                <button (click)="eliminarCategoria(element.id_categoria)" mat-icon-button color="warn"
                  aria-label="Example icon button with a vertical three dot icon" type="button">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="">
          </mat-paginator>
        </div>
      </div>







      <div class="modal fade" id="updateCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Actualizar Datos</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="actualizar()">

                <div class="row" style="margin-top: 3%">
                  <div class="col-lg-3">
                    <label for="id">CODIGO</label>
                    <input type="text" class="form-control" name="id_categoria" id="id_categoria"
                      [(ngModel)]="categoria.id_categoria" />
                  </div>
                  <div class="col-lg-6">
                    <label for="nombre">Descripcion</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="categoria.nombre">
                  </div>


                </div><br>


                <div class="modal-footer">
                  <button type="button" mat-raised-button class="btn" data-dismiss="modal">Cerrar</button>
                  <button type="submit" mat-raised-button color="primary" class="btn">Actualizar</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Registro de datos</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="registroCategoria()">

                <div class="row" style="margin-top: 3%">
                  <div class="col-lg-9">
                    <label for="nombre">Descripcion</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="categoria.nombre">
                  </div>
                </div><br>

                <div class="modal-footer">
                  <button type="button" mat-raised-button class="btn" data-dismiss="modal">Cerrar</button>
                  <button type="submit" mat-raised-button color="primary" class="btn"
                    (click)="registroCategoria">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
</div>